/*###################  SOUNDBOARD  ####################*/
html{background:black;}
body{background:black;}
p{font-family: 'Roboto Condensed', sans-serif; font-size: 15px; margin: 1px 0px 0px 0px; color: #900;border-left: 1px solid gray;padding-left: 8px;word-wrap: break-word;}
h1{font-family: 'Roboto Condensed', sans-serif; font-size:18px; color:black; display:block; width:100%;border-bottom: 1px dotted;opacity: .9; text-transform:uppercase;}
a{text-decoration:none; color:#900;}



/*###################  SOUNDBOARD Container  ####################*/
#soundboard_container{
	width: 100%;
	margin:50px auto 0 auto;
	background:#ffee78;
	border:5px white solid;
	padding: 0 0 20px 0;
}

#soundboard_container .directory{
	clear: both;
	margin: 0 10px 0 10px;
	display: inline-block;
	padding: 68px 0 0 0;
	width: 98.5%;
}

#soundboard_container .sound:hover{
	cursor:pointer;
}

#soundboard_container .sound{
		width: 17%;
		float:left;
		-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
		-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
		box-shadow:inset 0px 1px 0px 0px #ffffff;
		background-color: white;
		-webkit-border-top-left-radius:6px;
		-moz-border-radius-topleft:6px;
		border-top-left-radius:6px;
		-webkit-border-top-right-radius:6px;
		-moz-border-radius-topright:6px;
		border-top-right-radius:6px;
		-webkit-border-bottom-right-radius:6px;
		-moz-border-radius-bottomright:6px;
		border-bottom-right-radius:6px;
		-webkit-border-bottom-left-radius:6px;
		-moz-border-radius-bottomleft:6px;
		border-bottom-left-radius:6px;
		margin: 10px 1% 0 1%;
		border:1px solid #dcdcdc;
		display: flex;
		color:#777777;
		font-family:arial;
		font-weight:bold;
		text-decoration:none;
		height: 79px;
		overflow: hidden;
		min-width: 152px;
}

#soundboard_container .sound .playbtn{
	width: 0; 
	height: 0; 
	border-top: 18px solid transparent;
	border-bottom: 18px solid transparent;
	border-left: 27px solid black;
	margin: 20px 15px 0 20px;
}

#soundboard_container .sound .pausebtn{
	width: 29px; 
	height: 63px; 
	margin: 15px 15px 0 18px;
	background:url(../images/pause.gif) no-repeat;
	background-size: 56px;
	background-position: -14px -6px;
}