body{background:black;}
p{font-family: 'Roboto Condensed', sans-serif; font-size:14px; margin:1px;}
h1{font-family: 'Roboto Condensed', sans-serif;}
h2{font-family: 'Roboto Condensed', sans-serif; padding:0px; margin:0px; font-size:21px; color:#900;}
h3{}

a{text-decoration:none; color:#900;}

*{font-size:104% !important;}




.header{width:1024px;}
.nav{height:30px}
.nav li{}
.nav ul{padding:0px; margin:0px;}
.nav ul li{padding-left:10px; float:left; list-style:none;}
.nav ul li.first{padding:0px;}

.nav ul li a{font-weight:bold;font-family: 'Roboto Condensed', sans-serif;}

li a.hover{cursor:pointer;}
ul#open_menu.hover_off{display:none !important;}
ul#open_menu.hover_on{display:block !important; width:73px; background:white; height:43px; border:thin gray solid; position:absolute;}
ul#open_menu.hover_on li{padding-left:2px !important;}


.fb-ltr{background:white; height:159px;}

.banner{background:url(../images/banner.jpg); background-repeat:no-repeat; width:100% !important; height:100px; background-clip:content-box !important;}

.container{width:100%px !important; position:relative; margin:auto; padding:15px 15px 30px 15px; background:#ffee78; border:5px white solid; min-height:1073px;}

.content{width:100%px;}
.news{width:100% !important;}
.news-stack{margin-top:222px;}
.couch{background:url(../images/burntcouchbg.png); background-repeat:no-repeat; width:630px; height:239px;position:absolute; top:122px;}
.sidebar{display:none; width:1px !important;}
table#schedule{font-family: 'Roboto Condensed', sans-serif;}
table#schedule tr.table-header{color:white; background:black;}
table#schedule tr.red{background:#fff9d5;}
table#schedule tr{background:white;}
.sidebar-container{padding-bottom:15px;}
img.popup-img{padding:0 10px 10px 0; float:left; max-width:200px;}
div.blackout{display:none; z-index:0; background:black; opacity:.8; position:absolute; width:100%; height:100%;cursor:pointer;position:fixed;}

.content-header{}
.contact h2{color:black; margin:0px;}

.media-grid a{border:1px solid white !important;}

.media-grid a:hover{border:1px solid white !important;}


#host-list td img{}
#host-list td div.host-container:hover{border:thin #900 solid;}
#host-list td div.host-container{position:relative; width:200px; height:200px;border:thin white solid;-webkit-box-shadow:  1px 1px 6px 1px rgba(0, 0, 0, .3);
        
        box-shadow:  1px 1px 6px 1px rgba(0, 0, 0, .3);}
#host-list td div.host-container div.host-overlay{position:absolute; width:202px; height:202px; z-index:2; top:0px; left:4px; color:white; font-family:'Roboto Condensed', sans-serif;}
#host-list td div.host-container div.host-overlay img{text-decoration:none; border:none;}
#host-list td div.host-container div.host-overlay span.host-shadow{text-shadow: 1px 1px 1px #000000;filter: dropshadow(color=#000000, offx=1, offy=1);}


ul.host-social li a img{width:75%;border:none;}
ul.host-social{
    top: 155px;
    left: 3px;
    z-index: 3;
	position:absolute;
	padding:0px;
}
ul.host-social li{padding:0;border:none; width:35px; list-style:none;float:left;}
ul.host-social li:hover{opacity:.8;}
ul.host-social li a{border:none; text-decoration:none;}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	
	border-left: 10px solid white;
	float:left;
	margin:0 0 0 12px;
	padding:0 0 0 12px;
	cursor:pointer;
	z-index:5;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	
	border-right:10px solid white; 
	float:left;
	cursor:pointer;
	z-index:5;
}


div.pics img.insta{width:23%; margin:1px 1px -3px 1px; padding:3px;  -webkit-transition: background .2s linear; border:thin lightgray solid;-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px; background:white;}
div.pics img.insta:hover{cursor:pointer; background:grey;}
p.insta-p{max-width:612px;}
div.more{
    width: 615px;
    height: 38px;
    display: block;
    background: rgb(255,255,255); /* Old browsers */  background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(243,243,243,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); /* FF3.6+ */  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(243,243,243,1)), color-stop(51%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */  background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */  background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* IE10+ */  background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); /* W3C */  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */;
    border: thin #ccc solid;
    margin: 13px 0 0 0;
    text-align: center;
	
}
div.more:hover{cursor:pointer;}
div.more p{margin-top:9px;}

.p10b{-webkit-box-shadow:  1px 1px 6px 1px rgba(0, 0, 0, .3);
        
        box-shadow:  1px 1px 6px 1px rgba(0, 0, 0, .3);min-height:125px; display:block; border:1px solid white;margin-bottom:17px;background: rgb(255,251,221); /* Old browsers */

background: -moz-linear-gradient(top,  rgba(255,251,221,1) 0%, rgba(255,243,165,1) 98%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,251,221,1)), color-stop(98%,rgba(255,243,165,1))); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  rgba(255,251,221,1) 0%,rgba(255,243,165,1) 98%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  rgba(255,251,221,1) 0%,rgba(255,243,165,1) 98%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  rgba(255,251,221,1) 0%,rgba(255,243,165,1) 98%); /* IE10+ */

background: linear-gradient(to bottom,  rgba(255,251,221,1) 0%,rgba(255,243,165,1) 98%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fffbdd', endColorstr='#fff3a5',GradientType=0 ); /* IE6-9 */

}

.footer{display:none;}
.footer p.end_footer a{margin:0 5px 0 5px;}

div.pagination{padding:0 0 10px 0;}
div.pagination p li a{padding:5px 11px 5px 11px;background:white;border:thin lightgray solid;}
div.pagination p li a:hover{background:lightgray;}
div.pagination p li{list-style:none; float:left; margin:-5px 3px 0 0;}

div.call_out{position: absolute;
    right: 192px;}
	
div.call_out p{color: white;
    font-size: 17px;}
	
div.call_out ul {font-family: 'Roboto Condensed', sans-serif;
    color: white;
    margin-top: 0px;
    font-size: 13px;}
	
	
/* SOUNDBOARD */
.sound_board_container{width:1015px; position:relative; margin:auto; padding:15px 15px 30px 15px; background:#ffee78; border:5px white solid; min-height:1050px; margin:32px auto 0 auto;}
table.sound_board tr{padding:10px 0 0 0;}
table.sound_board tr td{vertical-align:top;padding:12px 0 7px 0;}
div.sound{margin:1px 1px -3px 1px; padding:3px;  -webkit-transition: background .2s linear; border:thin lightgray solid;-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px; background:white; min-height:65px;}	
img.soundimg{width:23%; margin:1px 1px -3px 1px; padding:3px;  -webkit-transition: background .2s linear; border:thin lightgray solid;-webkit-border-radius: 100px;
-moz-border-radius: 100px;
border-radius: 100px; background:white; float:left;}
div.sound_container p{margin:5px 0 0 69px; width:169px;}
div.sound_container{cursor:pointer;}
p.song_title{margin:5px auto; width:204px;}
p.song_title span{color:#900}
div.loading{width:100%; height:100%; z-index:9; background:black; display:block; position:fixed;}
div.loading h1{margin:51px 0 0 0; color:white;}


div.b_hosts{width:100%; background:#fffcc8; border:3px white solid;}
div.b_hosts_overlay{  
	width: 200px;
	height: 200px;
	float: left;
	padding-right: 10px;
	position: absolute;}
p.b_hosts_title{ 
	position: absolute;
    color: white;
    top: 2px;
    left: 2px;
    font-size: 19px;
	z-index:3;}
/*div.b_hosts_opaque{
	height: 35px;
    width: 100%;
    background: white;
    display: block;
    position: absolute;
    z-index: 1;
    bottom: 0;
    opacity: .3;}*/
div.b_hosts_spacer{   
	display: block;
    width: 200px;
    height: 200px;
    float: left;
    padding-right: 10px;}
div.b_hosts_line{
	width: 91%;
    margin: 10px auto 10px auto;
    border-top: thin dotted black;}
div.b_hosts div.b_hosts_stack{width:95%; display:block; min-height:200px; padding:10px;}
div.b_hosts div.b_hosts_stack p{}
div.b_hosts div.b_hosts_stack img{}
div.b_hosts div.b_hosts_stack img.b_hosts_left{width:200px; float:left; padding-right:10px;}
div.b_hosts div.b_hosts_stack img.b_hosts_left{width:200px; float:left; padding-right:10px; position:absolute;}

ul.social li a img{width:83%;border:none; }
ul.social li a img:hover{margin:-10px 0 0 0;}
ul.social{display:none;}
ul.social li{padding:0;border:none;}
ul.social li a{border:none; text-decoration:none;}
